<div class="container-sm">
	<ul ngbNav #nav="ngbNav" class="nav-tabs">

		<li [ngbNavItem]="1">
			<button ngbNavLink routerLink="/home" routerLinkActive="active">Home</button>
		</li>
		<li [ngbNavItem]="2">
			<button ngbNavLink routerLink="/all-posts" routerLinkActive="active">All posts</button>
		</li>
		<!-- <li [ngbNavItem]="3"> -->
		<!-- <button ngbNavLink>Three</button> -->
		<!-- <ng-template ngbNavContent> -->

		<!-- </ng-template> -->
		<!-- </li> -->

	</ul>

	<div [ngbNavOutlet]="nav" class="mt-2">
	</div>
</div>
<router-outlet></router-outlet>